[submodule "inz/xview2_strong_baseline"]
	path = inz/external/xview2_strong_baseline
	url = https://github.com/PaulBorneP/Xview2_Strong_Baseline.git
[submodule "inz/farseg"]
	path = inz/external/farseg
	url = https://github.com/Z-Zheng/FarSeg.git
[submodule "inz/dahitra"]
	path = inz/external/dahitra
	url = https://github.com/nka77/DAHiTra.git
[submodule "inz/revgrad"]
	path = inz/revgrad
	url = https://github.com/jvanvugt/pytorch-domain-adaptation.git
